<ion-header>
  <ion-toolbar>
    <ion-title align="center">
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div align="center">
      <ion-button color="primary" size="default" fill="solid" [routerLink]="['/toolbars']">
        Toolbars
      </ion-button>
    </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons>
      <ion-title align="center">
        Footer
      </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
